<!DOCTYPE html>
<html>
<head>
	<title>Start a Meetup</title>
</head>
<body>
<form action='/create' method='POST'>
	<input type="text" name="user" value = {{user}} readonly>
	<p>Name of Meetup:</p>
	<input type="text" name="name">
	<p>Where? Don't forget to add the city!</p>
	<input type="text" name="address">
	<p>When?</p>
	<input type="date" name="meetup_date">
	<input type="time" name="meetup_time">
	<br>
	<p>Invite your friends!</p>
	<textarea rows="10" name="invites"></textarea>
	<br>
	<input type="submit" name="submit" value="Start!">
</form>
</body>
</html>